#sidebar ul li a {
    padding: 10px 0;
}

#sidebar ul li.active > a {
    display: flex;
    justify-content: center;
}

#sidebar .logo {
    margin-top: -25px;
}

li.goToEcomm {
    margin-top: 20px;
    margin-bottom: 10px;
}
