.d-flex.prod {
    margin-left: 3vw;

    margin-bottom: 8vw;
}

img.mt-3 {
    border-radius: 10px;
}

h4.h1-check-prod {
    margin-left: 4vw;
    margin-top: 4vw;
}

h4.text-center {
    margin-bottom: 8vw;
    margin-top: 4vw;
}