.container, .container-fluid, .container-xxl, .container-xl, .container-lg, .container-md, .container-sm {
    margin-right: 1px;
    margin-left: 1px;
}

.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
    width: 100%;
    /*  padding-right: var(--bs-gutter-x, 0.75rem);
*/ /*padding-left: var(--bs-gutter-x, 0.75rem);*/
    /*margin-right: auto;
    margin-left: auto;*/
}

@media (min-width: 576px) {
    .container-sm, .container {
        max-width: 5400px;
    }
}

@media (min-width: 768px) {
    .container-md, .container-sm, .container {
        max-width: 7200px;
    }
}

@media (min-width: 992px) {
    .container-lg, .container-md, .container-sm, .container {
        max-width: 9060px;
    }
}

@media (min-width: 1200px) {
    .container-xl, .container-lg, .container-md, .container-sm, .container {
        max-width: 11400px;
    }
}

@media (min-width: 1400px) {
    .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
        max-width: 13020px;
    }
}
