@model PAKTD.Models.MO.mCompra
@{
    ViewBag.Title = "Carrinho";
}




<!--OFFCANVAS (Carrinho)-->
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel" style="background-color:#000000;color:white;">
    <div class="offcanvas-header">


    </div>


    <div class="offcanvas-body">
        <h4 class="text-center">CARRINHO</h4>

        @foreach (var itemCompra in Model.ItensCompra)
        {
            <div class="d-flex">
                <img class="mt-3" width="120" height="90" src="@itemCompra.ImgProd" />
                <h6 class="mt-5" style="margin-left:1vw;">@itemCompra.NmPro</h6>


                <img class="mt-5" width="26" height="26" style="margin-left:1vw;" src="https://img.icons8.com/color/48/352563/minus.png" alt="plus-math" />
     
                @Html.ActionLink("Remover", "RemoverCarrinho","Pagamento", new { id = itemCompra.ItemProdutoId }, new { @class = "remove-link" })
                <img class="mt-5" width="26" height="26" style="margin-left:1vw;" src="https://img.icons8.com/color/48/plus--v1.png" alt="plus--v1" />
            </div>




            <h5 class="text-center mt-4">Valor Total  :  R$ @itemCompra.ValorTotal</h5>

        }
        <div class="d-flex justify-content-center gap-2">
            <button class="btn btn-success">Checkout</button>
            <button class="btn btn-success" data-bs-dismiss="offcanvas" aria-label="Close" style="background-color:#352563;">Continuar Comprando</button>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<script>
    $(document).ready(function () {
        // Substitua ".remove-link" pelo seletor correto se você tiver mais links com a mesma classe.
        $(".remove-link").html('<img class="mt-5" width="26" height="26" style="margin-left:1vw;" src="https://img.icons8.com/color/48/000000/cancel--v1.png" alt="remove" />');
    });
</script>
